@mixin fullpage {
  width: 100vw;
  min-height: 100vh;
}
nav{
  position: absolute;
  top: 0;
  z-index: 100;
  a{
    font-size: 40px;
  }
  .navlist{
    text-align: right;
    align-items: center;
  }
}
header{
  position: relative;
  @include fullpage();
  background: url(../images/meeting-background-1.png);
}
.contentPage1{
  position: relative;
  @include fullpage();
  background: url(../images/image4.jpg);
}
.heading{
  @include fullpage();
  color: aqua;
  background-color: cornflowerblue;
}
.contentPage2{
  @include fullpage();
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,151,1) 0%, rgba(133,78,252,1) 100%);
}
.contentPage3{
  @include fullpage();
}
.contentPage4{
  @include fullpage();
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,151,1) 0%, rgba(133,78,252,1) 100%);
}
footer{
  @include fullpage();
}